*

!.gitignore
!README.md
!starship.toml
!.vimrc

!axedit/
!axedit/**
!hypr/
!hypr/**
!neofetch/
!neofetch/**
!kitty/
!kitty/**
!waybar/
!waybar/**
!fish/
!fish/** 
!yazi/
!yazi/**
!nvim/
!nvim/**
!wofi/
!wofi/**
!rofi/
!rofi/**
!wlogout/
!wlogout/**
!swww/
!swww/**
