* {
    border: none;
    border-radius: 0px;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 10px;
    min-height: 10px;
}

@import "themes/theme.css";

window#waybar {
    background: @bar-bg;
}

tooltip {
    background: @main-bg;
    color: @main-fg;
    border-radius: 0px;
    border-width: 0px;
}

#workspaces button {
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 0px;
    color: white;
    animation: ws_normal 20s ease-in-out 1;
}

@keyframes colorChange {
    from {
        background: @wb-hvr-bg;
    }
    to {
        background: @wb-act-bg;
    }
}

#workspaces button.empty {
    color: @main-fg;
}

#workspaces button.active {
    background: @wb-hvr-bg;
    animation: colorChange 1.0s forwards;
    color: @wb-act-fg;
    margin-left: 2px;
    /* padding-left: 11px;
    padding-right: 11px; */
    margin-right: 2px;
    /* animation: ws_active 20s ease-in-out 1; */
    /* transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682); */
}

#workspaces button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-fg;
}

#taskbar button {
    box-shadow: none;
	text-shadow: none;
    padding: 0px;
    border-radius: 0px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 0px;
    color: @wb-color;
    animation: tb_normal 20s ease-in-out 1;
}

#taskbar button.active {
    background: @wb-act-bg;
    color: @wb-act-color;
    margin-left: 2px;
    padding-left: 11px;
    padding-right: 11px;
    margin-right: 2px;
    animation: tb_active 20s ease-in-out 1;
    transition: all 0.4s cubic-bezier(.55,-0.68,.48,1.682);
}

#taskbar button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-color;
    animation: tb_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

#custom-arch_logo {
    color: @main-fg;
    background: @main-bg;
    opacity: 1;
    margin: 3px 0px 3px 0px;
    padding-left: 4px;
    padding-right: 4px;  
}

#backlight,
#battery,
#bluetooth,
#custom-cliphist,
#clock,
#custom-cpuinfo,
#cpu,
#custom-gpuinfo,
#idle_inhibitor,
#custom-keybindhint,
#language,
#memory,
#mpris,
#network,
#custom-power,
#pulseaudio,
#custom-spotify,
#taskbar,
#custom-theme,
#tray,
#custom-updates,
#custom-wallchange,
#custom-wbar,
#window,
#workspaces,
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#custom-rr_end {
    color: @main-fg;
    background: @main-bg;
    opacity: 1;
    margin: 3px 0px 3px 0px;
    padding-left: 8px;
    padding-right: 8px;

}

#workspaces,
#taskbar {
    padding: 0px;
}

#custom-r_end {
    border-radius: 0px;
    margin-right: 8px;
    padding-right: 0px;
}

#custom-l_end {
    border-radius: 0px;
    margin-left: 8px;
    padding-left: 0px;
}

#custom-sr_end {
    border-radius: 0px;
    margin-right: 8px;
    padding-right: 0px;
}

#custom-sl_end {
    border-radius: 0px;
    margin-left: 8px;
    padding-left: 0px;
}

#custom-rr_end {
    border-radius: 0px;
    margin-right: 8px;
    padding-right: 0px;
}

#custom-rl_end {
    border-radius: 0px;
    margin-left: 8px;
    padding-left: 0px;
}

#custom-sepl {
    border-left: 1px solid @main-fg;
    opacity: 0.5;
    margin-top: 4px;
    margin-bottom: 4px;
}

#custom-sepr {
    border-right: 1px solid @main-fg;
    opacity: 0.5;
    margin-top: 4px;
    margin-bottom: 4px;
}


#clock,
#battery,
#memory,
#cpu,
#pulseaudio,
#bluetooth,
#tray {
    /* Border stuff */
    border-left: 1px solid rgba(135, 176, 249, 0.5);
    margin-top: 4px;
    margin-bottom: 4px;
}

